/*
!.gitignore
!.Xresources
!.fehbg

!.wallpapers/
.wallpapers/*
!.wallpapers/636086.jpg

!.config/
.config/*

!.config/alacritty/
!.config/i3/
!.config/polybar/
!.config/autorandr/
!.config/picom/
!.config/rofi/
