/*
!.gitignore
!.Xresources
!.fehbg
!LICENSE
!README.md
!.bashrc
!.vimrc
!.zshrc

!.wallpapers/
.wallpapers/*
!.wallpapers/636086.jpg

!.lockscreen/
.lockscreen/*
!.lockscreen/636086.png

!.config/
.config/*

!.config/alacritty/
!.config/i3/
!.config/polybar/
!.config/autorandr/
!.config/picom/
!.config/rofi/
!.config/ranger/
